~\$*.docx
*.tmp
*.swp
.DS_Store
*.pyc
*.out
*.dSYM
*.a
*.o
*.s
*.so
*.dylib
/test.c
/Git Tutorial.pdf
/Introduction_to_Algorithms_3rd_Edition.pdf
/More programming Pearls.pdf
/Programming.Pearls.pdf
/Pro Git.pdf
scaffold/
path_finding_alg/_build/
*.opensdf
*.sdf
*.sln
*.suo
*.user
*.filters
*.vcxproj
test.cpp
test.c
.vscode
interview_questions/build
interview_questions/_build
build
_build
interview_questions/scaffold.cpp
*.gch
GdbTutorial
memcached-scaffold/build
memcached-scaffold/_build
libtbb-scaffold/build
libtbb-scaffold/_build
std-cpp/static-extern-scaffold/build
std-cpp/static-extern-scaffold/_build
