~\$*.docx
*.tmp
*.swp
.DS_Store
*.pyc
*.out
*.dSYM
*.a
*.o
*.s
*.so
*.dylib
/test.c
/Git Tutorial.pdf
/Introduction_to_Algorithms_3rd_Edition.pdf
/More programming Pearls.pdf
/Programming.Pearls.pdf
/Pro Git.pdf
scaffold/
path_finding_alg/_build/
*.opensdf
*.sdf
*.sln
*.suo
*.user
*.filters
*.vcxproj

