__pycache__/
*.pyc
*.gz
/MNIST_data
/mnist_datasets
/check_points
/image_store
/cvae_imgs
/dcan_imgs
.DS_Store
log/
logs/
*.log
build/
_build/
*.o
*.dYSM
*.out
*.png
*.jpg
cpp-examples/data/
cpp-examples/libtensorflow
cpp-examples/libtensorflow/
cpp-examples/libtensorflow-2.11/
hello_tf_main
basic_operations_main
label_image_main
wav_to_spectrogram_main
mnist_demo_main
tensor_ops_main

